body {
    font-family: 'Wiener Sans', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

header {
    background-color: #1e1e1e;
    color: white;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
}

.left-images {
    display: flex;
    align-items: center;
}

.left-images .large-image {
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.left-images img[src="assets/turbo.png"] {
    width: 80px;
    height: auto;
}

.left-images img:first-child {
    margin-left: 15px;
}

header .right {
    display: flex;
    align-items: center;
}

header .right .hidden {
    display: none;
}

header #balance-info {
    margin-right: 20px;
    color: white;
}

header #connect-button,
header #wallet-info {
    display: flex;
    align-items: center;
    background-color: #444444;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

header #connect-button img,
header #wallet-info img {
    margin-right: 5px;
    height: 24px;
}

header #wallet-info {
    display: none;
}

.container {
    margin-top: 100px;
    background-color: #2b2b2b;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 500px;
    text-align: center;
    align-self: center;
}

.container h2 {
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 32px;
    font-size: 32px;
}

.exchange-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
    margin-bottom: 20px;
}

.exchange-box .box {
    background-color: #3c3c3c;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.exchange-box .box img[src="assets/ethereum.svg"] {
    height: 24px;
    margin-left: 4px;
}

.exchange-box .box img {
    height: 24px;
    margin-right: 10px;
}

.exchange-box .eclipse-logo {
    height: 24px;
    margin-right: 10px;
}

.exchange-box .box .label {
    font-size: 14px;
    color: #888;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #2b2b2b;
    padding: 0 5px;
}

.exchange-box .box select,
.exchange-box .box input {
    width: calc(100% - 3px);
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    background-color: #4a4a4a;
    color: #ffffff;
    text-align: center;
    box-sizing: border-box;
}

.exchange-box .box input#to-chain,
.exchange-box .box.full-width input#eclipse-wallet {
    text-align: center;
}

#from-chain {
    margin-left: 10px;
}

.exchange-box .box.full-width {
    flex-direction: column;
    align-items: flex-start;
}

.exchange-box .box.full-width .label {
    margin-bottom: 10px;
}

.amount-box {
    margin-bottom: 20px;
}

.amount-box .label {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.amount-box input {
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #4a4a4a;
    border: 1px solid #555;
    color: #ffffff;
    border-radius: 5px;
    box-sizing: border-box;
}

.button-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#bridge-button {
    background-color: #38a169;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#bridge-button:hover {
    background-color: #2f855a;
}

#bridge-button:disabled {
    background-color: #666666;
    cursor: not-allowed;
}

.note {
    margin-top: 30px;
    font-size: 15px;
    color: #888;
    text-align: left;
    margin-left: -8px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #1e1e1e;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footer-text {
    font-size: 16px;
    color: #888;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.footer-text a {
    color: #888;
    text-decoration: underline;
}

.footer-text a:hover {
    text-decoration: underline;
    color: #38a169;
}

.footer-icons {
    display: flex;
    gap: 18px;
    margin-right: 50px;
}

.footer-icons img {
    width: 20px;
    height: 20px;
}

@media (max-width: 600px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    .footer-icons img {
        width: 6px;
        height: 6px;
    }
}